a,
button {
	cursor: pointer;
	font-size: 1rem;
  color: var(--color-button-text);
	text-decoration: none;
}

.button {
  min-height: 48px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: solid 1px var(--color-button-border);
	background-color: var(--color-button-background);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-align: center;
}

a.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 16px;
}

.button.wide {
	width: 100%;
}

.button.narrow {
	width: fit-content;
}

.button.failure {
	background-color: var(--color-button-background-failure);
}

.button.success {
	background-color: var(--color-button-background-success);
}
