@mixin light-mode {
	--color-background: #ffffff;
	--color-text: #000000;
	--color-border: #959595;

	--color-header-background: #eae0c6;

	--color-button-border: #282727;
	--color-button-background: #ffffff;
	--color-button-background-success: #a1e590;
	--color-button-background-failure: #e39797;
	--color-button-text: var(--color-text);

	--color-input-background: var(--color-background);

	--color-deck-card-border: var(--color-button-border);
}

@mixin dark-mode {
	--color-background: #2c2c2c;	
	--color-text: #ffffff;
	--color-border: #7c7c7c;

	--color-header-background: #614705;

	--color-button-border: #b1e0fe;
	--color-button-background: #241f1fea;
	--color-button-background-success: #0f7633;
	--color-button-background-failure: #d04747;
	--color-button-text: var(--color-text);

	--color-input-background: rgb(68, 68, 68);

	--color-deck-card-border: #565656;
}

@media (prefers-color-scheme: dark) {
	:root {
		@include dark-mode;
	}
}

@media (prefers-color-schema: light) {
	:root {
		@include light-mode;
	}
}

:root.dark-mode {
	@include dark-mode;
}

:root.light-mode {
	@include light-mode;
}
